* {
    margin: auto;
    padding: auto;
    border: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.player-options, .computer-options {
    display: flex;
    flex-direction: row;
}

img {
    height: 150px;
    width: 150px;
}

.option {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 5px;
}