* {
    margin: auto;
    padding: auto;
    border: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    color : rgb(0, 0, 0, .6);
}

.player, .computer {
    display: flex;
    flex-direction: column;
}

.options {
    display: flex;
    flex-direction: row;
}

img {
    height: 100px;
    width: 100px;
    opacity: .6;
}

.option {
    border-style: solid;
    border-color: rgb(0, 0, 0, .6);
    border-radius: 5px;
    border-width: 4px;
    margin: 10px 10px 0 10px;
}

.player .option:hover {
    border-color: rgb(0, 0, 0, .7);
    background-color: rgb(0, 0, 0, .1);
}

.player .option:hover img {
    opacity: .7;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

h2 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 200;
    margin-bottom: 40px;
}

h3 {
    font-size: 24px;
}

h4 {
    margin-top: 0px;
    font-size: 18px;
    margin-bottom: 0px;
}

h5 {
    margin-top: 10px;
    font-size: 30px;
}

.player {
    margin-bottom: 30px;
    margin-top: 0px;
}

.computer {
    margin-bottom: 50px;
    margin-top: 0px;
}